@import url('../globals.css');

#especies-ameacadas-2{
    background: url(../../assets/images/especies-ameacadas2.webp);
    background-size: cover;
    background-repeat: no-repeat;
}

#especies-ameacadas-2 div h2 .highlight{
    font-size: var(--xl) !important;
}
#especies-ameacadas-2 div .subtitle{
    font-size: 60px;
}

#especies-ameacadas-2 div{
    margin-top: 200px;
    display: flex !important;
    justify-content: space-between !important;
    flex-direction: row;
    width: 100%;
}

#especies-ameacadas-2 .main{
    width: 40%;
    display: flex;
    flex-direction: column;
    row-gap:40px;
}
.section-especies-ameacadas{
    background-color: var(--black);
    min-height: 100vh;
    gap: 140px;
    color: white;
}

.section-especies-ameacadas .main{
    max-width: 1220px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 120px;
}
.section-especies-ameacadas .add-info{
    max-width: 1220px;
    margin: 0 auto;
    font-size: 36px;
    padding: 75px 0;
}

.section-especies-ameacadas .highlight {
    font-size: 72px;
    color: var(--second-color);
}

.section-especies-ameacadas h2{
    font-size: 60px;
}
.section-especies-ameacadas h3{
    margin: 30px 0;
    font-size: var(--l);
}
.section-especies-ameacadas img{
    max-width: 500px;
    object-fit: contain;
}
.section-especies-ameacadas .add-info p{
    margin: 40px 0;
}
.section-especies-ameacadas h5{
    font-size: var(--xs);
    padding: 10px 0;
    font-weight: 300;
}

#first-section-ea .main{
    display: flex;
    flex-direction: row;
    font-size: var(--l);
}

footer{
    background-color: var(--black);
}

@media screen and (min-width: 1025px) and(max-width: 1200px) {
    #especies-ameacadas-2 div {
        flex-direction: column;
        align-items: center;
    }

    #especies-ameacadas-2 .main {
        width: 100%;
    }

    .section-especies-ameacadas .main {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    #especies-ameacadas-2 div .subtitle {
        font-size: 30px;
    }

    .section-especies-ameacadas .add-info {
        font-size: 24px;
    }
    img{
        max-width: 150px !important;
    }
}

@media screen and (max-width: 767px) {
    #especies-ameacadas-2 div {
        flex-direction: column;
        align-items: center;
    }
    #especies-ameacadas-2 .main{
        width: calc(100% - 40px);

    }
    #first-section-ea .main{
        display: flex;
        flex-direction: column;
        font-size: 27px !important;
        width: calc(100% - 30px);
    }
    .section-especies-ameacadas{
        display: flex;
        flex-direction: column;
        font-size: 27px !important;
        padding: 20px;
    }
    .section-especies-ameacadas .main {
        flex-direction: column;
        align-items: center;
    }
    h1{
        font-size: 40vw;
    }
    #especies-ameacadas-2 div .subtitle {
        font-size: 70px !important;
    }

    #especies-ameacadas-2 .highlight{
        font-size: 40px !important;
    }
    .section-especies-ameacadas {
        min-height: 0;
        gap: 20px;
    }
    .section-especies-ameacadas .add-info {
        font-size: 24px !important;
    }
    #especies-ameacadas2 .main{
        margin: 20px !important;
        width: calc();
    }
    img{
        max-width: 250px !important;
    }
    #especies-ameacadas-2 div {
        margin-top: 100px;
    }
}