@import url(../globals.css);
@media(min-width:1401px){
.container{
    height: 100vh;
}
.title{
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color); 
    justify-content: center;
    width: 100vw;
    height: 15vh;
    align-items: center;
    font-size: var(--b);
    color: white;
}
.title p{
 font-weight: 500;
}
.input{
    border: inset 10px transparent ;
    background-color: #c4c2c2;
    border-radius: 15px;
    font-size: 14px;
}

.form-group{  
    width: 20vw;
    display: flex;
    flex-direction: column;
}
label{
    margin-bottom:10px ;
    margin-top: 10px;
}
.conteudo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
}
.form-pontos{
    display: flex;
    width: 25vw;
    height: 35vh;
    justify-content: center;
    align-items: center;
}
.btnSubmit{
    padding-top: 5vh;
    padding-bottom: 5vh;
    display: flex;
    width: 100%;
    justify-content: center;
}
.btnSubmit button{
    background-color: var(--primary-color);
}
.btnSubmit button:active{
    background-color: #026e92;
}
.btn{
    cursor:pointer;
    border-radius: 10px;
    width: 10vw;
    height: 3vh;
    border: none;
    background-color: #026e92;
    color: white;
}
.fieldset{
    border: none;
}
.around{
    border-radius: 5px;
    background-color: #d5ecfa;
    margin-top: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 10px 10px 10px rgba(65, 64, 64, 0.452);
}
}
@media (min-width:1025px) and (max-width:1400px){
    .container{
        height: 100vh;
    }
    .title{
        display: flex;
        flex-direction: column;
        background-color: var(--primary-color); 
        justify-content: center;
        width: 100vw;
        height: 15vh;
        align-items: center;
        font-size: var(--b);
        color: white;
    }
    .title p{
     font-weight: 500;
    }
    .input{
        border: inset 10px transparent ;
        background-color: #c4c2c2;
        border-radius: 15px;
        font-size: 14px;
    }
    
    .form-group{  
        width: 30vw;
        display: flex;
        flex-direction: column;
    }
    label{
        margin-bottom:10px ;
        margin-top: 10px;
    }
    .conteudo{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
    }
    .form-pontos{
        display: flex;
        width: 35vw;
        height: 40vh;
        justify-content: center;
        align-items: center;
    }
    .btnSubmit{
        padding-top: 5vh;
        padding-bottom: 5vh;
        display: flex;
        width: 100%;
        justify-content: center;
    }
    .btnSubmit button{
        background-color: var(--primary-color);
    }
    .btnSubmit button:active{
        background-color: #026e92;
    }
    .btn{
        cursor:pointer;
        border-radius: 10px;
        width: 15vw;
        height: 3vh;
        border: none;
        background-color: #026e92;
        color: white;
    }
    .fieldset{
        border: none;
    }
    .around{
        border-radius: 5px;
        background-color: #d5ecfa;
        margin-top: 15vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 10px 10px 10px rgba(65, 64, 64, 0.452);
    }
}
@media (min-width:768px) and (max-width:1024px){
    .container{
        height: 100vh;
    }
    .title{
        display: flex;
        flex-direction: column;
        background-color: var(--primary-color); 
        justify-content: center;
        width: 100vw;
        height: 15vh;
        align-items: center;
        font-size: var(--b);
        color: white;
    }
    .title p{
     font-weight: 500;
    }
    .input{
        border: inset 10px transparent ;
        background-color: #c4c2c2;
        border-radius: 15px;
        font-size: 14px;
    }
    
    .form-group{  
        width: 30vw;
        display: flex;
        flex-direction: column;
    }
    label{
        margin-bottom:10px ;
        margin-top: 10px;
    }
    .conteudo{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
    }
    .form-pontos{
        display: flex;
        width: 35vw;
        height: 40vh;
        justify-content: center;
        align-items: center;
    }
    .btnSubmit{
        padding-top: 5vh;
        padding-bottom: 5vh;
        display: flex;
        width: 100%;
        justify-content: center;
    }
    .btnSubmit button{
        background-color: var(--primary-color);
    }
    .btnSubmit button:active{
        background-color: #026e92;
    }
    .btn{
        cursor:pointer;
        border-radius: 10px;
        width: 15vw;
        height: 3vh;
        border: none;
        background-color: #026e92;
        color: white;
    }
    .fieldset{
        border: none;
    }
    .around{
        border-radius: 5px;
        background-color: #d5ecfa;
        margin-top: 15vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 10px 10px 10px rgba(65, 64, 64, 0.452);
    }
}
@media (min-width:550px) and (max-width:767px){
    .container{
        height: 100vh;
    }
    .title{
        display: flex;
        flex-direction: column;
        background-color: var(--primary-color); 
        justify-content: center;
        width: 100vw;
        height: 15vh;
        align-items: center;
        font-size: 16px;
        color: white;
    }
    .title p{
     font-weight: 500;
    }
    .input{
        border: inset 10px transparent ;
        background-color: #c4c2c2;
        border-radius: 15px;
        font-size: 14px;
    }
    
    .form-group{  
        width: 40vw;
        display: flex;
        flex-direction: column;
    }
    label{
        margin-bottom:10px ;
        margin-top: 10px;
    }
    .conteudo{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
    }
    .form-pontos{
        display: flex;
        width: 55vw;
        height: 50vh;
        justify-content: center;
        align-items: center;
    }
    .btnSubmit{
        padding-top: 5vh;
        padding-bottom: 5vh;
        display: flex;
        width: 100%;
        justify-content: center;
    }
    .btnSubmit button{
        background-color: var(--primary-color);
    }
    .btnSubmit button:active{
        background-color: #026e92;
    }
    .btn{
        cursor:pointer;
        border-radius: 10px;
        width: 20vw;
        height: 3vh;
        border: none;
        background-color: #026e92;
        color: white;
    }
    .fieldset{
        border: none;
    }
    .around{
        border-radius: 5px;
        background-color: #d5ecfa;
        margin-top: 15vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 10px 10px 10px rgba(65, 64, 64, 0.452);
    }
}
@media(max-width:549px){
    .container{
        height: 75vh;
    }
    .title{
        display: flex;
        flex-direction: column;
        background-color: var(--primary-color); 
        justify-content: center;
        width: 100vw;
        height: 15vh;
        align-items: center;
        font-size: 12px;
        color: white;
    }
    .title p{
     font-weight: 500;
    }
    .input{
        border: inset 10px transparent ;
        background-color: #c4c2c2;
        border-radius: 15px;
        font-size: 14px;
    }
    
    .form-group{  
        width: 70vw;
        display: flex;
        flex-direction: column;
    }
    label{
        margin-bottom:10px ;
        margin-top: 10px;
    }
    .conteudo{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
    }
    .form-pontos{
        display: flex;
        width: 100vw;
        height: 50vh;
        justify-content: center;
        align-items: center;
    }
    .btnSubmit{
        padding-top: 5vh;
        padding-bottom: 5vh;
        display: flex;
        width: 100%;
        justify-content: center;
    }
    .btnSubmit button{
        background-color: var(--primary-color);
    }
    .btnSubmit button:active{
        background-color: #026e92;
    }
    .btn{
        cursor:pointer;
        border-radius: 10px;
        width: 50vw;
        height: 3vh;
        border: none;
        background-color: #026e92;
        color: white;
    }
    .fieldset{
        border: none;
    }
    .around{
        border-radius: 5px;
        background-color: #d5ecfa;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}