@media(min-width:1401px){
    footer{
        bottom: 0;
    }
    .conteudo{
        height: 100%;
    }
    .text{
        display: flex;
        flex-direction: column;
        color: white;
        width: 40vw;
        gap: 40px;
    }
    .img{
        height: 40vh;
    }
    .section-top{
        z-index: 2;
        margin-bottom: -5vh;
        background-color: #03617e;
    }
    .section-mid{
        box-shadow: 0 0 100px #02556e;
        background-color: #02556e;
    }
    .section-bottom{
        box-shadow: 0 0 100px #02556e;
        background-color: #014357;
    }
    .section{
        justify-content: space-around;
        align-items: center;
        display: flex;
        flex-direction: row;
        height: 90vh;
    }
    .section-equipe{
        display: flex;
        flex-direction: column;
        height: 90vh;
    }
    .section-equipe p{
        font-size: 22px;
        margin-left: 2vw;
    }
    .section-equipe h1{
        font-size: 60px;
        
    }
    .section h1{
        font-size: 60px;
        
    }
    .section-bottom .text{
        margin-top: 10vh;
        text-align: center;
        width: 100vw;
    }
    .section p{
        font-size: 22px;
        margin-left: 2vw;
    }
    .div-perfis{
        margin-top: 5vh;
        justify-content: space-around;
        display: flex;
        flex-direction: row;
    }
    .img-perfil{
        margin-top: 2vh;
        border-radius: 50%;
        height: 25vh;
        margin-bottom: 2vh;
    }
    .perfil{
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 40vh;
        height: 60vh;
        background-color: #012b38;
        border-radius: 30px;
    }
    .perfil h1, .perfil h2{
        color: white;
    }
    .github{
        margin-top: 5vh;
        height: 10vh;
    }
}
@media (min-width:1025px) and (max-width:1400px){
    footer{
        bottom: 0;
    }
    .conteudo{
        height: 100%;
    }
    .text{
        display: flex;
        flex-direction: column;
        color: white;
        width: 40vw;
        gap: 40px;
    }
    .img{
        height: 40vh;
    }
    .section-top{
        z-index: 2;
        margin-bottom: -5vh;
        background-color: #03617e;
    }
    .section-mid{
        box-shadow: 0 0 100px #02556e;
        background-color: #02556e;
    }
    .section-bottom{
        box-shadow: 0 0 100px #02556e;
        background-color: #014357;
    }
    .section{
        justify-content: space-around;
        align-items: center;
        display: flex;
        flex-direction: row;
        height: 90vh;
    }
    .section-equipe{
        display: flex;
        flex-direction: column;
        height: 90vh;
    }
    .section-equipe p{
        font-size: 16px;
        margin-left: 2vw;
    }
    .section-equipe h1{
        font-size: 40px;
        
    }
    .section h1{
        font-size: 60px;
        
    }
    .section-bottom .text{
        margin-top: 10vh;
        text-align: center;
        width: 100vw;
    }
    .section p{
        font-size: 22px;
        margin-left: 2vw;
    }
    .div-perfis{
        margin-top: 5vh;
        justify-content: space-around;
        display: flex;
        flex-direction: row;
    }
    .img-perfil{
        margin-top: 2vh;
        border-radius: 50%;
        height: 20vh;
        margin-bottom: 2vh;
    }
    .perfil{
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 40vh;
        height: 55vh;
        background-color: #012b38;
        border-radius: 30px;
    }
    .perfil h1, .perfil h2{
        color: white;
    }
    .github{
        margin-top: 5vh;
        height: 10vh;
        width: 10vw;
    }
}
@media (min-width:768px) and (max-width:1024px){
    .conteudo{
        height: 100%;
    }
    .text{
        display: flex;
        flex-direction: column;
        text-align: center;
        color: white;
        width: 100vw;
        gap: 40px;
    }
    .img{
        display: none;
        height: 30vh;
    }
    .section-top{
        z-index: 2;
        margin-bottom: -5vh;
        background-color: #03617e;
    }
    .section-mid{
        box-shadow: 0 0 100px #02556e;
        background-color: #02556e;
    }
    .section-bottom{
        box-shadow: 0 0 100px #02556e;
        background-color: #014357;
    }
    .section{
        justify-content: space-around;
        align-items: center;
        display: flex;
        flex-direction: row;
        height: 90vh;
    }
    .section-equipe{
        display: flex;
        flex-direction: column;
        height: fit-content !important;


    }
    .section-equipe p{
        font-size: 16px;
        margin-left: 2vw;
    }
    .section-equipe h1{
        font-size: 40px;
        
    }
    .section h1{
        font-size: 60px;
        
    }
    .section-bottom .text{
        margin-top: 10vh;
        text-align: center;
        width: 100vw;
        height: max-content !important;

    }
    .section p{
        font-size: 22px;
        margin-left: 2vw;
    }
    .div-perfis{
        margin-top: 5vh;
        justify-content: space-around;
        display: flex;
        flex-direction: row;
        height: max-content !important;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
        width: calc(100% - 30px);
    }
    .img-perfil{
        margin-top: 2vh;
        border-radius: 50%;
        height: 20vh;
        margin-bottom: 2vh;
    }
    .perfil{
        align-items: center;
        display: flex;
        flex-direction: column;
        width: calc(50% - 35px);
        height: 55vh;
        background-color: #012b38;
        border-radius: 30px;
    }
    .div-perfis:last-child{
        width: 100%;
    }
    .perfil h1, .perfil h2{
        color: white;
    }
    .github{
        margin-top: 5vh;
        height: 10vh;
        width: 10vw;
    }
}
@media (max-width:767px){
    .conteudo{
        height: 100%;
    }
    .text{
        display: flex;
        flex-direction: column;
        text-align: center;
        color: white;
        width: 100vw;
        gap: 40px;
    }
    .img{
        display: none;
        height: 20vh;
    }
    .section-top{
        z-index: 2;
        margin-bottom: -5vh;
        background-color: #03617e;
    }
    .section-mid{
        box-shadow: 0 0 100px #02556e;
        background-color: #02556e;
    }
    .section-bottom{
        box-shadow: 0 0 100px #02556e;
        background-color: #014357;
    }
    .section{
        justify-content: space-around;
        align-items: center;
        display: flex;
        flex-direction: row;
        height: 90vh;
    }
    .section-equipe{
        display: flex;
        flex-direction: column;
        height: fit-content !important;
        padding: 0 0 30px 0;


    }
    .section-equipe h2{
        font-size: 20px;
        margin-left: 2vw;
    }
    .section-equipe h1{
        font-size: 50px;
        
    }
    .section h1{
        font-size: 60px;
        
    }
    .section-bottom .text{
        margin-top: 10vh;
        text-align: center;
        width: 100vw;
        height: max-content !important;

    }
    .section p{
        font-size: 18px;
        margin-left: 2vw;
        line-height: 1.4em;
    }
    .div-perfis{
        margin-top: 5vh;
        justify-content: space-around;
        display: flex;
        flex-direction: row;
        height: max-content !important;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
        width: calc(100% - 30px);
    }
    .img-perfil{
        margin-top: 2vh;
        border-radius: 50%;
        height: 15vh;
        margin-bottom: 2vh;
    }
    .perfil{
        align-items: center;
        display: flex;
        flex-direction: column;
        width: calc(100% - 35px);
        height: 55vh;
        background-color: #012b38;
        border-radius: 30px;
    }
    .div-perfis:last-child{
        width: 100%;
    }
    .perfil h1, .perfil h2{
        color: white;
    }
    .github{
        margin-top: 5vh;
        height: 10vh;
        width: 10vw;
    }
}