@import url(./globals.css);
button {
    padding: 17px 56px;
    border: none;
    background-color: var(--third-color);
    font-size: 24px;
    font-weight: 800;
    color: var(--green);    
    max-width: 250px;
    border-radius: 8px;
    transition: 0.6s ease-in-out;
    cursor: pointer;
}

button:hover{
    transition: 0.6s ease-in-out;
    transform: scale(1.1);
}
