@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Inter';
}

:root{
    --primary-color: #0095c6;   
    --second-color: #0054ff;
    --third-color: #05c3ff;
    --black: #131313;
    --cyan: #448a99;
    --green: #081B15;
    --gray: #efefef;
    /* font sizes */
    --xl: 72px;
    --l: 36px;
    --b: 24px;
    --s: 14px;
    --xs: 12px;
}

.highlight{
    color: var(--third-color);
}

a.no-decor{
    text-decoration: none;
}