@import url("./globals.css");

header nav:not(.nav-mobile) {
  max-width: 1320px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  flex-direction: row;
  align-items: center;
  min-height: 100px;
}
.fundo-azul{
  height: fit-content !important;
  background-color: var(--primary-color) !important;
}
.header-column{
  display: flex !important;
  flex-direction: column !important;
}
.nav-mobile {
  display: none;
  transition: all 0.6s ease-in-out;
  height: 100vh;
  width: 100%;
  background-color: var(--primary-color);
  color: white;
}
.btn-mobile img{
  filter: invert(1) !important;
}
.nav-mobile nav ul{
  transition: all 0.6s ease-in-out;
  width: 100%;
  display: flex;
  flex-direction: column !important;
  align-items: center;
  justify-content: start;
}

.open-nav-mobile {
  display: flex !important;
  width: 100%;
  display: flex;
  flex-direction: column !important;
  align-items: center;
  justify-content: start; 
  transition: all 0.6s ease-in-out;
}
.open-nav-mobile nav ul{
  display: flex !important;
  flex-direction: column !important;
}
header nav ul {
  list-style-type: none;
  display: flex;
  gap: 40px;
  align-items: center;
}
header nav a {
  color: white;
  text-decoration: none;
  transition: 0.6s ease-in-out;
}

header h2 {
  font-size: 36px;
  font-weight: 400;
  color: var(--primary-color);
}

header :not(.h-transparent) h2 {
  color: white;
}

header nav ul li a {
  font-size: 20px;
  color: white;
  transition: 0.6s ease-in-out;
}
header nav a:hover,
header nav ul li:hover {
  transition: 0.6s ease-in-out;
  transform: scale(1.25);
}

header:not(.h-transparent) {
  display: block;
  background-color: var(--primary-color);
}

.h-transparent {
  margin-bottom: -100px;
  background-color: transparent;
  width: 100%;
}
.h-transparent-resized{
  margin-bottom: -400px;
  background-color: transparent;
  width: 100%;
}
.btn-mobile {
  display: none;
  background-color: transparent !important;
  width: min-content !important;
  height: min-content !important;
}
.btn-mobile img {
  height: 30px;
  transition: all 0.6s;
}
.rotate-img {
  img {
    transform: rotate(90);
  }
}
.resize-header{
  display: flex;
  flex-direction: column;
  min-height: none;
  height: max-content;
}
.ul-mobile{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.ul-mobile li{
  letter-spacing: 50% !important;
  font-size: medium;
  font-weight: 200;
  
}



@media screen and (max-width: 767px) {
  header {
    width: 100%;
    display: flex !important;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: max-content;
  }

  header nav:not(.nav-mobile) {
    width: auto !important;
    padding: 0 20px;
  }
  header nav:not(.nav-mobile) ul {
    gap: 0;
    display: none;
  }
  header nav img {
    display: none;
  }
  .btn-mobile {
    display: block !important;
    padding: 10px 20px;
    width: min-content;
    border: none;
  }
  nav:not(.nav-mobile) {
    width: min-content !important;
    max-width: none !important;
    padding: 0 !important;
    margin: 0 !important;
  }
}
