@import url(./globals.css);

header nav{
    max-width: 1320px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    flex-direction: row;
    align-items: center;
    min-height: 100px;
}
header nav ul{
    list-style-type: none;
    display: flex;
    gap: 40px;
    align-items: center;    
    
}
header nav a{
    color: white;
    text-decoration: none;
    transition: 0.6s ease-in-out;
}

header h2{
    font-size: 36px;
    font-weight: 400;
    color: var(--primary-color);
}

header :not(.h-transparent) h2{
    color: white;
}

header nav ul li a{
    font-size: 20px;
    color: white;
    transition: 0.6s ease-in-out;
}
header nav a:hover, header nav ul li:hover{
    transition: 0.6s ease-in-out;
    transform: scale(1.25);
}

header:not(.h-transparent){
    display: block;
    background-color: var(--primary-color);
}

.h-transparent{
    margin-bottom: -100px;
    background-color: transparent;
}

@media screen and (max-width: 480px) {
    header{
        width: 100%;
    }
    header nav{
        width: 100%;
        margin: 0 20px;
    }
    header nav ul{
        gap: 0;
        display: none;
    }
    header nav img{
        display: none;
    }
    

}




