@import url(./globals.css);

.valorkg{
    background-color: #05C3FF;
    width: 200px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

.highlight{
    color: #05C3FF;
}

#cans{
    height:100px;
}

.ajude{
    position: relative;
}

#ajude{
    width: 1349px;
}

.help{
}