@import url(./globals.css);

.valorkg{
    background-color: #05C3FF;
    width: 200px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

.highlight{
    color: #05C3FF;
}

#cans{
    height:100px;
}

.ajude{
    position: relative;
}

.texto-ajude{
    position: absolute;
    top: 20px;
    left: 20px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
}

#lixo{
    background-color: #0095c6;
    color: white;
    border-radius: 25px;
    border: none;
}

#inputkg{
    border-radius: 25px;
    background-color: #0095c6;
    color: white;
    border: none;
}

#top-ajude{
    background: url(../assets/images/ajude.webp);
    height: calc(100vh - 110px) !important;
    box-shadow: inset 0 0 0 1000px #081b15a2;
    background-repeat: no-repeat;
    background-size: cover;
}